In [2]:
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
import sys

In [4]:
df_closes = pd.read_excel("closes.xlsx")
df_high = pd.read_excel("high.xlsx")
df_low = pd.read_excel("low.xlsx")
df_spa = pd.read_excel("SPYA.xlsx")

df_closes.set_index("Date",inplace=True)

df_spa.set_index("Date",inplace=True)

In [5]:
def ma_helper(closes):
    return np.sum(closes)/len(closes)

def momentum(closes):
    returns = np.log(closes)
    x = np.arange(len(returns))
    slope, _, rvalue, _, _ = linregress(x,returns)
    return ((1+slope)**252)*(rvalue**2)

In [7]:
#SPY从200天前开始，close从100天前开始，atr20从100-20=80天前开始，momentum从100-90=10天前开始，都有offset
company = [i for i in df_closes.columns]
momentums = df_closes.copy(deep=True)
for c in company:
    momentums[c] = df_closes[c].rolling(90).apply(momentum, raw=False)

momentums.to_excel("momentums.xlsx")

In [10]:

sma100 = df_closes.copy(deep=True)
for c in company:
    sma100[c] = df_closes[c].rolling(100).apply(ma_helper, raw=False)

sma100.to_excel("sma100.xlsx")

In [12]:
sma200 = df_spa.copy(deep=True)
sma200['close'] = df_spa['close'].rolling(200).apply(ma_helper, raw=False)

sma200.to_excel("sma200.xlsx")

In [41]:
df_closes = pd.read_excel("closes.xlsx")
df_high = pd.read_excel("high.xlsx")
df_low = pd.read_excel("low.xlsx")

In [44]:
df_max_value = df_closes.copy(deep=True)
for i in range(1,len(df_closes)):
    for c in company:
        high = df_high.loc[i][c]
        low = df_low.loc[i][c]
        cp = df_closes.loc[i-1][c]
        v1 = high-low
        vc = np.array([high-low, np.abs(high-cp),np.abs(low-cp)])
        vm = np.max(vc)
        df_max_value.loc[i,c] = vm
df_max_value

,Date,000009.SZ,000155.SZ,000591.SZ,000875.SZ,001289.SZ,002056.SZ,002074.SZ,002080.SZ,002129.SZ,...,688006.SH,688063.SH,688116.SH,688388.SH,688390.SH,688408.SH,688516.SH,688598.SH,688599.SH,688680.SH
0,2016-01-04,9.807954,8.84,8.430139,8.28,NaN,5.815619,28.503145,10.234754,10.807165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-05,0.819353,0.44,0.843014,0.80,NaN,0.565471,2.808486,0.982058,0.952995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-06,0.418780,0.42,0.403002,0.34,NaN,0.195386,1.297538,0.473950,0.353689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-07,0.971085,0.40,0.810116,0.82,NaN,0.579263,2.680439,1.054645,1.070892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-08,1.001431,0.38,1.065076,0.96,NaN,0.524095,2.859705,1.204089,1.129840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,2022-06-24,0.510000,0.60,0.240000,0.37,1.062985,0.960000,1.340000,1.220000,1.250000,...,4.75,15.497734,9.656101,5.98,10.60,11.41,14.50,10.76,3.86,16.53
1574,2022-06-27,0.430000,1.65,0.330000,0.24,0.536460,0.870000,1.090000,2.570000,2.600000,...,3.72,13.340833,24.090272,5.26,13.60,7.20,18.79,13.67,3.52,10.40
1575,2022-06-28,0.530000,0.50,0.240000,0.14,0.596067,2.500000,1.150000,0.630000,4.920000,...,2.81,18.972742,9.076335,3.45,22.98,5.39,14.43,8.42,3.01,24.63
1576,2022-06-29,0.920000,1.44,0.410000,0.28,1.248326,2.660000,2.480000,2.300000,4.420000,...,4.47,14.988466,17.073106,5.78,16.50,10.30,18.64,12.89,4.62,11.99
1577,2022-06-30,0.990000,0.66,0.210000,0.21,0.923903,2.380000,1.600000,1.040000,5.350000,...,4.14,23.155287,9.766057,3.26,48.10,7.69,12.93,8.81,2.55,5.76

In [46]:
atr20 = df_max_value.copy(deep=True)
for c in company:
    atr20[c] = df_max_value[c].rolling(20).apply(ma_helper, raw=False)

atr20.to_excel("atr20.xlsx")

,Date,000009.SZ,000155.SZ,000591.SZ,000875.SZ,001289.SZ,002056.SZ,002074.SZ,002080.SZ,002129.SZ,...,688006.SH,688063.SH,688116.SH,688388.SH,688390.SH,688408.SH,688516.SH,688598.SH,688599.SH,688680.SH
0,2016-01-04,0.000000,8.84,8.430139,8.28,NaN,5.815619,28.503145,10.234754,10.807165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-05,9.346689,8.40,7.805075,7.89,NaN,5.631726,26.351964,10.294531,10.414177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-06,9.686568,7.98,8.084709,8.20,NaN,5.792632,26.847077,10.550720,10.708918,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-07,8.715484,7.58,7.274593,7.39,NaN,5.217967,24.328830,9.496075,9.647851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-08,8.800454,7.47,7.447308,7.42,NaN,5.199577,23.867862,9.316743,9.696975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,2022-06-24,14.130000,22.22,8.350000,7.20,21.81,24.800000,46.490000,27.240000,46.780000,...,74.96,287.89,158.835863,90.63,276.44,99.98,279.25,306.0,67.92,221.36
1574,2022-06-27,13.880000,23.09,8.510000,7.08,21.65,24.600000,47.000000,28.860000,49.200000,...,74.56,298.35,172.720256,90.52,287.00,98.91,274.54,305.0,67.49,220.99
1575,2022-06-28,13.980000,22.99,8.660000,7.16,22.21,27.060000,47.050000,28.660000,54.120000,...,73.47,291.15,180.677043,89.98,278.73,96.80,273.70,305.0,68.90,206.46
1576,2022-06-29,13.080000,21.69,8.270000,6.96,21.18,25.480000,44.800000,27.100000,53.540000,...,69.37,293.34,166.042953,84.21,282.30,86.50,256.95,293.7,66.55,198.65
1577,2022-06-30,13.490000,22.15,8.350000,6.95,21.76,26.620000,45.600000,27.500000,58.890000,...,70.06,312.20,169.411592,84.87,313.01,92.48,266.95,294.7,65.25,198.70